VITE_SPACETIMEDB_URI=ws://127.0.0.1:3000
VITE_SPACETIMEDB_DB=proxiprompt
VITE_VAPID_PUBLIC_KEY=
VITE_GOOGLE_MAPS_API_KEY=
# SpacetimeAuth client id. Redirect URIs to register:
#   http://localhost:5173/callback
#   http://127.0.0.1:5173/callback
VITE_SPACETIMEAUTH_CLIENT_ID=
