SPACETIMEDB_URI=ws://127.0.0.1:3000
SPACETIMEDB_DB=proxiprompt
SPACETIMEDB_TOKEN=
AGENT_URL=http://127.0.0.1:8001
DEMO_MODE=1
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:team@proxiprompt.local
ORCH_PORT=8080
ENABLE_BLUESKY=1
